*{
	
}


body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
}

h2{
	font-size: 28px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	/*font-family: "OneLatin",sansariff;*/
	font-family: 'Arimo', sans-serif;
    /*font-size: */
}

.msg3{
	color: rgb(0, 179, 227);
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;
}

.upperPic{
	padding-bottom: 20px;
}

.pagePic{
	border-radius: 5px;
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
	.pagePic{
		width: 400px;
		height: auto;
	}
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
 	.upperPic{
		width: 350px;
		height: auto; 
		padding-top: 45px;
		border-radius: 5px;
	}
	.bottomPic{
		width: 370px;
		height: auto; 
		padding-top: 45px;
		border-radius: 5px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
 	.pagePic{
		width: 250px;
		height: auto; 
		padding-top: 45px;
		border-radius: 5px;
	}

 	.bottomPic{
		width: 270px;
		height: auto; 
		padding-top: 45px;
		border-radius: 5px;
	}

}

