*{
	
}


body{
	max-width: 100%;
	font-family: 'Arimo', sans-serif;

}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
	
}

h2{
	font-size: 28px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-family: 'Arimo', sans-serif;

}

.badge{
	background-color: rgb(0, 179, 227);
}

.outline{
	border-style: solid;
	border-width: medium;
	border-radius: 25px;
	padding: 40px 20px 40px 20px;	
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;

}

img{
	width:100%;
}

.card-body{
	padding:15px;
}

.push{
	padding-left: 40px;
}



/* Medium Devices, .visible-md-* */
@media (min-width: 500px) and (max-width: 1199px) {	
	.flagpic{
    	width: 100%;
    	height: auto;
    }

    .badge{
    	width: 100%;
    	height: auto;
 	}

}

@media (min-width: 750px) and (max-width: 990px) {	
	h4{
		font-size: 12px;
	}
}


@media only screen and (max-width: 767px) {
	h4{
 		font-size: 8px;
 	}

}

