*{
	
}

body{
	max-width: 100%;
	font-family: 'Arimo', sans-serif;
}

h2{
	font-size: 28px;
}

h4{
	padding-top: 10px;
	padding-bottom: -15px;
	font-size: 13px;
}

.msg2{
	padding-top: 8px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-family: 'Arimo', sans-serif;
}

.badge{
	background-color: rgb(0, 179, 227);
	display: inline-block;
	font-size: 16px;
}

.outline{
	border-style: solid;
	border-width: medium;
	border-radius: 25px;
	padding: 40px 30px 40px 20px;	
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;
}

img{
	width:100%;
}

.card-body{
	padding:12px;
}
.card-text{
	padding-top: 0px;
}

.push{
	padding-left: 30px;
}

.mobileR{
	font-size: 15px;
	visibility: hidden;
}

/* Desktop Version */
@media (min-width: 1400px) and (max-width: 1699px) {
	.msg{
    	font-size: 4.0em;
    	padding-bottom: 10px;
   		margin-left: -15%;
  	}
	.msg2{
    	font-size: 1.7em;
    	margin-left: -15%;
	}
	.txt{
    	font-size: 1.5em;
    	line-height: 30px;  
	}
	.txt2{
		font-size: 1.7em;
	}
	.badge{
		margin-top: 5%;
  		font-size: 24px;
	}
	.text-muted{
		font-size: 18px;
	}
	.outline{
		width: 1400px;
		margin-left: -15%;
	}
	.push{
		margin-left: 30%;
	}
	.flagpic{
		width: 300px;
		height: auto;
		margin-left: 55%;
		margin-top: 15%;
	}
}


/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	h4{
		font-size: 14px;
	}
	.flagpic{
    	width: 100%;
    	height: auto;
    }
    .badge{
    	visibility: hidden;
 	}
 	.mobileR{
 		visibility: visible;
 	}
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	h4{
		font-size: 12px;
	}
	.badge{
		display: none;

	}
	.mobileR{
		visibility: visible;
	}
	.flagpic{
    	width: 100%;
    	height: auto;
    }
}


/* Tablet */
@media (min-width: 431px) and (max-width: 767px) {
	h4{
 		font-size: 10px;
 	}
 	.badge{
		display: none;
	}
	.mobileR{
		visibility: visible;
		font-size: 120%;
		text-align: center;
	}
	.flagpic{
    	width: 80%;
    	height: auto;
    	padding-left: 20%;
    	padding-bottom: 5%;
    }
}

/* Mobile Phone */
@media only screen and (max-width: 430px) {
  	.msg{
      font-size: 23px;
      font-weight: bold;
  	} 
	.flagpic{
    	width: 100%;
    	height: auto;
    	padding-bottom: 5%;
    }
	.mobileR{
		visibility: visible;
		font-size: 95%;
	}
 	.badge{
		display: none;
	}
	.mobileQ{
		text-align: center;
	}

}
