*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;	
}

h2{
	font-size: 32px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	/*font-family: "OneLatin",sansariff;*/
	font-family: 'Arimo', sans-serif;
    /*font-size: */
}

.msg2{
	padding-top: 15px;
}

.msg3{
	color: rgb(0, 179, 227);
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;
}

.slot{
	padding: 30px 0px 50px 80px;
}

.slot2{
	width: 250px;
	height: 250px;
	border-style: solid;
	border-width: medium;
	border-radius: 50%;
	color: black;
	font-weight: bold;
	text-shadow: .3px .3px white;

}

.losA{
	background-image: url("../images/bgc1.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;

}

.sanF{
	background-image: url("../images/bgc2.jpeg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.dal{
	background-image: url("../images/bgc3.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.aust{
	background-image: url("../images/bgc4.jpg");
	background-size: 380px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.chic{
	background-image: url("../images/bgc5.jpg");
	background-size: 300px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.nyc{
	background-image: url("../images/bgc6.png");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.seoul{
	background-image: url("../images/bgc7.jpg");
	background-size: 450px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.incheon{
	background-image: url("../images/bgc8.jpg");
	background-size: 330px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.busan{
	background-image: url("../images/bgc9.jpg");
	background-size: 350px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.singa{
	background-image: url("../images/bgc10.jpeg");
	background-size: 310px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.shang{
	background-image: url("../images/bgc11.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.xian{
	background-image: url("../images/bgc12.jpg");
	background-size: 350px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.taipei{
	background-image: url("../images/bgc13.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}

.frank{
	background-image: url("../images/bgc14.jpg");
	background-size: 475px;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;	
}

p {
	color: black;
	font-size: 18px;
}

.link{
	color: black;
	font-size: 18px;
}

.slot3{
	padding-top: 25px;
}


#contact .card:hover i,#contact .card:hover h4{
	color: white;
}

#contact .card:hover p{
	color:blue;
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  #bannerPic{
    max-width: 100%;
    height: auto;
	}
  .slot{
  	right: 6%;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #bannerPic{
      width: 100%;
      height: auto;
  	}
  .slot{
  	right: 6%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  #bannerPic{
      width: 100%;
      height: auto;
  	}
  .slot{
  	right: 6%;
  }
}
