*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;	
}

h2{
	font-size: 32px;
}

.msgDiv{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	/*font-family: "OneLatin",sansariff;*/
	font-family: 'Arimo', sans-serif;
    /*font-size: */
}

.msg2{
	padding-top: 15px;
}

.msg3{
	color: rgb(0, 179, 227);
	text-decoration: underline;
}

.slot{
	padding: 30px 20px 30px 70px;

}

.slot2{
	width: 250px;
	height: 250px;
	border-style: solid;
	border-width: medium;
	border-radius: 50%;
	color: black;
	font-weight: bold;
	text-shadow: .3px .3px white;

}

.losA{
	background-image: url("../images/bgc1.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;

}

.sanF{
	background-image: url("../images/bgc2.jpeg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.dal{
	background-image: url("../images/bgc3.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.aust{
	background-image: url("../images/bgc4.jpg");
	background-size: 380px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.chic{
	background-image: url("../images/bgc5.jpg");
	background-size: 300px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.nyc{
	background-image: url("../images/bgc6.png");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.seoul{
	background-image: url("../images/bgc7.jpg");
	background-size: 450px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.incheon{
	background-image: url("../images/bgc8.jpg");
	background-size: 330px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.busan{
	background-image: url("../images/bgc9.jpg");
	background-size: 350px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.singa{
	background-image: url("../images/bgc10.jpeg");
	background-size: 310px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.shang{
	background-image: url("../images/bgc11.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.xian{
	background-image: url("../images/bgc12.jpg");
	background-size: 350px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.taipei{
	background-image: url("../images/bgc13.jpg");
	background-size: 400px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.frank{
	background-image: url("../images/bgc14.jpg");
	background-size: 475px;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;	
}

p {
	color: black;
	font-size: 18px;
}

.link{
	color: black;
	font-size: 18px;
}


#contact .card:hover i,#contact .card:hover h4{
      color: white;
      text-shadow: 2px 2px black;
}

#contact .card:hover p{
	color:blue;
}

#futxt{
	font-size: 14px;
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  #bannerPic{
    width: 100%;
    height: auto;
	}
  .slot{
  	right: 6%;
  }
}

/* Small Devices */
@media (min-width: 768px) and (max-width: 991px) {
  #bannerPic{
      width: 100%;
      height: auto;
  	}
  .slot{
  	right: 6%;
  }
}

/* Tablet */
@media (min-width: 431px) and (max-width: 767px) {
  #bannerPic{
      width: 100%;
      height: auto;
  	}
  .slot{
  		right: 10%;
	  position: center;
  }
  .slot2{
  		width: 220px;
  		height: 220px;
  	}
  .msg{
      font-size: 30px;
      font-weight: bold;
  }
  .msg3{
      font-size: 24px;
  }
  p{
  	  font-size: 16px;
  }
}

/* Mobile Phone */
@media (min-width: 404px) and (max-width: 430px) {
  #bannerPic{
    	width: 100%;
    	height: auto;
  	}
  	.msg{
    	font-size: 23px;
    	font-weight: bold;
    	margin-top: -10px;
  	}
  	.msg3{
    	font-size: 22px;
    	margin-top: -10px;
  }  
  	.slot{
  		left: -15%;
  	}
  	#slot{
  		left: -10%;
  	}
  	.slot2{
  		width: 170px;
  		height: 170px;
  		background-size: 250px;
  	}
  	.fa-envelope-o {
  		visibility: hidden;
  	}
  	p {
		  font-size: 14px;
      color: black;
      text-shadow: 1px 1px white;
  	}
  	.link{
  		padding-top: 20px;
  		font-size: 14px;

  	}
  	h4{
  		font-size: 13px;
  		font-weight: bold;
		  width: 132px;
		  margin-left: 15px;
		  margin-top: 20px;
  	}
    .frank{
        background-size: 320px;
    }
    .shang{
        background-size: 280px;
    }
    .seoul{
        background-size: 300px;
    }
    .nyc{
        background-size: 270px;
    }
    .losA{
      background-size: 300px;
    }
}

/* iphoneX Phone */
@media only screen and (max-width: 403px) {
  #bannerPic{
      width: 100%;
      height: auto;
    }
    .msg{
      font-size: 23px;
      font-weight: bold;
      margin-top: -10px;
    }
    .msg3{
      font-size: 22px;
      margin-top: -10px;
  }  
    .slot{
      left: -20%;
    }
    #slot{
      left: -10%;
    }
    .slot2{
      width: 160px;
      height: 160px;
      background-size: 250px;
    }
    .fa-envelope-o {
      visibility: hidden;
    }
    p {
      font-size: 14px;
    }
    .link{
      padding-top: 20px;
      font-size: 16px;
      color: white;
      text-shadow: 1px 1px black;
    }
    h4{
      font-size: 13px;
      font-weight: bold;
      border-style: solid;
      border-width: medium;
      width: 132px;
      margin-left: 20px;
      margin-top: 15px;
    }
    .frank{
        background-size: 320px;
    }
    .shang{
        background-size: 280px;
    }
    .seoul{
        background-size: 300px;
    }
    .nyc{
        background-size: 270px;
    }
    .losA{
      background-size: 300px;
    }
}