*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
}

h2{
	font-size: 28px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-family: 'Arimo', sans-serif;
    /*font-size: */
}
.msg{
	
}

.msg3{
	color: rgb(0, 179, 227);
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;
}

.upperPic{
	padding-bottom: 20px;
}

.pagePic{
	border-radius: 5px;
}

/* Desktop Version */
@media (min-width: 1400px) and (max-width: 1699px) {
	.msg{
		font-size: 4.0em;
		padding-bottom: 10px;
	}
	.msg2{
		font-size: 2.0em;
	}
	.msg3{
		font-size: 2.7em;	
	}
	.txt{
		font-size: 1.5em;
		line-height: 30px;	
	}
	.upperPic{
		width: 550px;
		height: auto;
		margin-left: 15%;
		padding-top: 25px;
	}
	.pagePic{
		width: 550px;
		height: auto;
		margin-left: 15%;

	}
}


/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
	.upperPic{
		width: 400px;
		height: auto;
	}
	.bottomPic{
		width: 400px;
		height: 280px;
	}

}

/* Small Devices */
@media (min-width: 768px) and (max-width: 991px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
 	.upperPic{
		width: 350px;
		height: auto; 
		padding-top: 45px;
		border-radius: 5px;
	}
	.bottomPic{
		width: 350px;
		height: 280px; 
		padding-top: 45px;
		border-radius: 5px;
	}
}


/* Tablet */
@media (min-width: 431px) and (max-width: 767px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
 	.upperPic{
		width: 100%;
		height: auto; 
		padding-top: 20px;
	}
	.bottomPic{
		width: 100%;
		height: auto;
		padding-top: 30px;
	}
}


/* Mobile Phone */
@media only screen and (max-width: 430px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
 	.upperPic{
		width: 250px;
		height: auto; 
		padding-top: 5%;
		padding-left: 10%;
		border-radius: 5px;
	}
	.bottomPic{
		width: 250px;
		height: 150px; 
		padding-top: 0%;
		padding-left: 10%;
		border-radius: 5px;
	}
  	.msg{
    	font-size: 30px;
    	font-weight: bold;
  }	
  	.msg3{
  		font-size: 22px;
  }

}
