*{
	
}


body{
	max-width: 100%;
}

#slide{
	/* position: absolute; */
	width: 100%;
	height: 650px;
	
}

@media (max-width:767px){
	.content {
		width: 100%;
		height: 50%;
    }
}

@media (max-width:767px){
	#slide {
		width: 100%;
		height: 450px;
    }
}

.item {
    position: relative;
    display: block;
}

.logopng {
	max-width: 180px;
	max-height: 180px;
}

.certification {
	padding-top:20px;
	padding-bottom: 20px;
}



@media (max-width:767px){
	.certification {
		width: 80%;
		height: auto;
		padding-top:500px;
		padding-left: 50px;
    }
}



@media (max-width:767px){
	.logopng {
		width: 75%;
		height: auto;
		margin-right: 20px;
		
    }
}

.map-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

#map {
	width: 100%;
	height: 650px;
}

.dot1 {margin-top: -735px; margin-left: 235px;}
.dot2 {margin-top: -735px; margin-left: 2px;}
.dot3 {margin-top: -715px; margin-left: -12px;}
.dot4 {margin-top: -798px; margin-left: 128px;}
.dot5 {margin-top: -798px; margin-left: 2px;}
.dot6 {margin-top: -798px; margin-left: 2px;}
.dot7 {margin-top: -778px; margin-left: -39px;}
.dot8 {margin-top: -778px; margin-left: 2px;}
