body {
	max-width: 100%;
	font-family:'Arimo', sans-serif !important;
}

#slide {
	width: 100%;
	height: 580px;
}

.imgTxt {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px black;
	top: 10%;
	padding-left: 70px;
}

#txt2 {
	font-size: 25px;
	top: 18.5%;
}

#txt3 {
	top: 0%;
	color: black;
	text-shadow: none;
	padding-left: 70px;
}

#txt4 {
	font-size: 16px;
	top: 8%;
	color: black;
	text-shadow: none;
	padding-left: 70px;
}

.clockImg{
	position: fixed;
	top: 115%;
	left: 9.5%;
}

.item {
    position: relative;
    display: block;
}

.logopng {
	max-width: 180px;
	max-height: 180px;
}

.certification {
	padding-top: 20px;
	padding-bottom: 20px;
}



/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	.imgTxt {
    	font-size: 2.8em;
		height: auto;
		left: 0%;
	}
	.logopng{
		width: 93%;
	}	
	#txt4{
		font-size: 15px;
	}
	#footer{
		height: 90%;
	}
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	.imgTxt {
  		font-size: 2.2em;
		height: auto;
		left: 0%;
		top: 6%;
	}
	#txt2{
		top: 13%;
	}
	#txt3{
		font-size: 30px;
	}
	#txt4{
		font-size: 14px;
	}
	.mainImg{
		position: absolute;
		width: 350%;
		margin-left: -50px;
		padding-right: 10px;
	}
	.logopng{
		width: 93%;
	}	
	#footer{
		padding-bottom: -100px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
	.imgTxt {
    	font-size: 1.8em;
		height: auto;
	}
	.logopng {
		width: 75%;
		height: auto;
		margin-right: 20px;
    }
	.certification {
		width: 80%;
		height: auto;
		padding-top:500px;
		padding-left: 50px;
    }
	#slide {
		width: 100%;
		height: auto;
    }
	.content {
		width: 100%;
		height: 50%;
    }
}


/* global network map */
.timezone{
	position: absolute;
	float: left;
	width: 15%;	
	margin: auto;
	bottom: 22%;
	left: 7%;
		
}

.map-container {
	width: 80%;
	height: auto;
	float: right;
	padding-top: 53px;
	padding-right: 20px;

}

.fas{
	color: rgb(0, 179, 227);
    position: absolute;
	width: 100%;
	height: auto;
}

#map {
	width: 850px;
	height: 480px;
}

#los-angeles {
	top: 34.3%; 
	right: 22.8%;
}

#los-angeles:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#san-francisco {
	top: 32.5%;
	right: 23.5%;
}

#san-francisco:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#dallas{
	top: 36.2%;
	right: 18.2%;
}

#dallas:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}


#austin{
	top: 37.8%;
	right: 18.8%;
}

#austin:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#chicago{
	top: 31%;
	right: 14.5%;
}

#chicago:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#new-york{
	top: 29.8%;
	right: 12%;
}

#new-york:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#seoul{
	top: 32%;
	left: 36.8%;
}

#seoul:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#incheon{
	top: 32.3%;
	left: 37.2%;
}

#incheon:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#busan{
	top: 32.8%;
	left: 37.5%;
}

#busan:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#singapore{
	top: 49%;
	left: 32.6%;
}

#singapore:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#shanghai{
	top: 34.3%;
	left: 35%;
}

#shanghai:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#xian{
	top: 35.5%;
	left: 32%;
}

#xian:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#chongqing{
	top: 37%;
	left: 32%;
}

#chongqing:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#taiwan{
	top: 39%;
	left: 37%;
}

#taiwan:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#frankfurt{
	top: 25.5%;
	left: 8.5%;
}

#frankfurt:hover .showmeonhover{
    display: inline;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: black;
}

#cities .fas:hover{
	color: red;
	padding-left: 40px;
	font-weight: bold;
}

#cities .lax:hover{
	padding-left: 100px;
}

#cities .sfo:hover{
	padding-left: 70px;
}

#cities .dal:hover{
	padding-left: 85px;
}

#cities .aus:hover{
	padding-left: 85px;
}

#cities .chik:hover{
	padding-left: 100px;
}

#cities .nyc:hover{
	padding-left: 70px;
}

#cities .seo:hover{
	padding-left: 70px;
}

#cities .icn:hover{
	padding-left: 60px;
}

#cities .bus:hover{
	padding-left: 80px;
}

#cities .sin:hover{
	padding-left: 110px;
}

#cities .sha:hover{
	padding-left: 100px;
}

#cities .xia:hover{
	padding-left: 75px;
}

#cities .ckg:hover{
	padding-left: 75px;
}

#cities .tai:hover{
	padding-left: 90px;
}

#cities .fra:hover{
	padding-left: 70px;
}

.showmeonhover{ 
	display: none;
	padding: 4px; 
	font-weight: bold;
}


/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
.fas{
	display: none;
	}
#mapImg{
	width: 100%;
	padding-top: 5%;
	padding-left: 5%;
	}
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
.fas{
	display: none;
	}
#mapImg{
	width: 100%;
	padding-top: 5%;
	padding-left: 5%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
.fas{
	display: none;
	}
}

