*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
}

.msgDiv{
	padding: 15px 50px 30px 50px;
	font-family: 'Arimo', sans-serif;
}	

.commodities{
	font-size: 100px;
	padding-bottom: 20px;
	text-align: center;
}

.txt{
	color: rgb(0, 179, 227);
}

.logoPic{
	width: 135px;
	height: 135px;
}

.col-md-3 {
	padding-bottom: 20px;
}

h5{
	color: black;
}

.pt-2{
	text-align: center;
}


/* Desktop Version */
@media (min-width: 1400px) and (max-width: 1699px) {
	.logoPic{
		width: 180px;
		height: 170px;

	}
	.pt-2{
		font-size: 20px;
		text-align: center;
	}
	.commodities{
		text-align: center;
		font-size: 125px;
	}
	.msg{
		font-size: 4.0em;
		padding-bottom: 10px;
	}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
}

/* Small Devices */
@media (min-width: 768px) and (max-width: 991px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}

}


/* Tablet */
@media (min-width: 431px) and (max-width: 767px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
	}
	.commodities{
		font-size: 90px;
		text-align: center;
		
	}
	h1{
		font-size: 25px;
		font-weight: bold;
	}
	.pt-2{
		font-size: 14px;
	}
	.logoPic{
		width: 100px;
		height: 100px;
	}
}

/* Mobile Phone */
@media only screen and (max-width: 430px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
	}
	.msgDiv{
		left: -10%;
		padding-top: 5px;
		padding-bottom: 5px;

	}
	h1{
		font-size: 22px;
		font-weight: bold;
	}
	.commodities{
		font-size: 80px;
		text-align: center;

	}
	.pt-2{
		font-size: 10px;
	}
	.logoPic{
		width: 70px;
		height: 65px;
	}
}

