*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
}

h2{
	font-size: 28px;
}

.msgDiv{
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	/*font-family: "OneLatin",sansariff;*/
	font-family: 'Arimo', sans-serif;
    /*font-size: */
}

.msg3{
	color: rgb(0, 179, 227);
}

.txt{
	font-size: 14px;
	color: #555;
	line-height: 20px;
}

.upperPic{
	padding-bottom: 20px;
}

.pagePic{
	border-radius: 5px;
}