*{
	
}

body{
	max-width: 100%;
}

#bannerPic{
	position: relative;
	width: 100%;
	height: 160px;
}

.msgDiv{
	padding: 35px 50px 30px 50px;
	font-family: 'Arimo', sans-serif;
}	

.commodities{

	font-size: 100px;
	padding-bottom: 20px;
}

.txt{
	color: rgb(0, 179, 227);
}

.logoPic{
	width: 135px;
	height: 135px;
	padding-bottom: 
}

.col-md-3 {
	padding-bottom: 20px;
}

h5{
	color: black;
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}
}

/* Small Devices, Tablets */
@media (min-width: 748px) and (max-width: 991px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
 	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
	#bannerPic{
    	width: 100%;
    	height: auto;
	}
}